<!DOCTYPE html>
<html>
<head>
  <title>RamlApiConsole</title>
  <%= stylesheet_link_tag    "raml_api_console/application", media: "all" %>
  <%= javascript_include_tag "raml_api_console/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
