<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>API Console</title>
  <%= stylesheet_link_tag    "raml_api_console/api-console-light-theme", media: "all", class: "theme"%>
</head>
<body ng-app="ramlConsoleApp" ng-cloak class="raml-console-body">
  <raml-initializer></raml-initializer>
  <%= javascript_include_tag "raml_api_console/api-console-vendor" %>
  <%= javascript_include_tag "raml_api_console/api-console" %>
  <script>
    $.noConflict();
  </script>
</body>
</html>
